USE [EvoflareDB]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[360EmployeeEvaluation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EvaluatorEmployeeId] [int] NOT NULL,
	[EvaluationId] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[OrganizationId] [int] NOT NULL,
	[360FeedbackGroupId] [int] NOT NULL,
	[StartDoing] [nvarchar](max) NULL,
	[StopDoing] [nvarchar](max) NULL,
	[OtherComments] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[360Evaluation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EvaluationId] [int] NOT NULL,
	[QuestionId] [int] NOT NULL,
	[FeedbackMarkId] [int] NOT NULL,
	[OrganizationId] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[360EvaluationComment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EvaluationId] [int] NOT NULL,
	[StartDoing] [nvarchar](max) NULL,
	[StopDoing] [nvarchar](max) NULL,
	[OtherComments] [nvarchar](max) NULL,
	[OrganizationId] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[360FeedbackGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[360FeedbackMark](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Mark] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[360PendingEvaluator](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[360EmployeeEvaluationId] [int] NOT NULL,
	[EvaluatorId] [int] NOT NULL,
	[Action] [int] NOT NULL,
	[OrganizationId] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[360Question](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuestionToMarkId] [int] NOT NULL,
	[Question] [nvarchar](250) NOT NULL,
	[Order] [int] NOT NULL,
	[OrganizationId] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[360Questionarie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Text] [nvarchar](250) NOT NULL,
	[360FeedbackGroupId] [int] NOT NULL,
	[OrganizationId] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[360QuestionToMark](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuestionId] [int] NOT NULL,
	[MarkId] [int] NOT NULL,
	[OrganizationId] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certificate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Company] [nvarchar](200) NULL,
	[Technology] [nvarchar](200) NULL,
	[Stack] [nvarchar](200) NULL,
	[CertificationLevel] [nvarchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CertificationExam](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Price] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompetenceCertificate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompetenceId] [char](3) NOT NULL,
	[CompetenceLevelId] [int] NOT NULL,
	[CertificateId] [int] NOT NULL,
	[OrganizationId] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerContact](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Email] [varchar](250) NOT NULL,
	[Phone] [varchar](20) NULL,
	[ProjectId] [int] NOT NULL,
	[OrganizationId] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EcfCompetence](
	[Id] [char](3) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Summary] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EcfCompetenceLevel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompetenceId] [char](3) NOT NULL,
	[Level] [int] NOT NULL,
	[Description] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EcfEmployeeEvaluation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EvaluationId] [int] NOT NULL,
	[EvaluatorId] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[StartById] [int] NOT NULL,
	[EndDate] [datetime] NULL,
	[EndById] [int] NULL,
	[OrganizationId] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EcfEvaluationResult](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EvaluationId] [int] NOT NULL,
	[Competence] [char](3) NOT NULL,
	[CompetenceLevel] [int] NULL,
	[Date] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EcfRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Summary] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EcfRoleCompetence](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[CompetenceId] [char](3) NOT NULL,
	[CompetenceLevel] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nchar](10) NULL,
	[IsManager] [bit] NOT NULL,
	[EmployeeTypeId] [int] NOT NULL,
	[OrganizationId] [int] NOT NULL,
	[NameTemp] [nvarchar](100) NOT NULL,
	[HiringDate] [date] NULL,
	[Name] [nvarchar](30) NULL,
	[Surname] [nvarchar](30) NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeEvaluation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[StartedById] [int] NOT NULL,
	[EndDate] [datetime] NULL,
	[EndedById] [int] NULL,
	[OrganizationId] [int] NOT NULL,
	[Archived] [bit] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeRelations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NULL,
	[ManagerId] [int] NULL,
	[TeamId] [int] NULL,
	[ProjectId] [int] NULL,
	[PositionId] [int] NULL,
	[OrganizationId] [int] NOT NULL,
	[Archived] [bit] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[OrganizationId] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EvaluationSchedule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[EvaluationDate] [datetime] NOT NULL,
	[Archived] [bit] NOT NULL,
	[OrganizationId] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organization](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pdp](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[StudyStartDate] [datetime] NULL,
	[ClassroomStartDate] [datetime] NULL,
	[AssessmentStartDate] [datetime] NULL,
	[ExamDate] [datetime] NOT NULL,
	[CertificateId] [int] NULL,
	[OrganizationId] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ProjectId] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[OrganizationId] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PositionRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PositionId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[DateTime] [datetime] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[OrganizationId] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectCareerPath](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[RoleId] [int] NOT NULL,
	[TeamId] [int] NULL,
	[OrganizationId] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectPosition](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[CareerPathId] [int] NOT NULL,
	[RoleGradeId] [int] NOT NULL,
	[OrganizationId] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectPositionCompetence](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleGradeId] [int] NOT NULL,
	[ProjectPositionId] [int] NOT NULL,
	[CompetenceId] [char](3) NOT NULL,
	[CompetenceLevelId] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleGrade](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeTypeId] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Order] [int] NOT NULL,
	[OrganizationId] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleGradeCompetence](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompetenceId] [char](3) NOT NULL,
	[CompetenceLevelId] [int] NOT NULL,
	[RoleGradeId] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[OrganizationId] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[360EmployeeEvaluation] ADD  CONSTRAINT [PK_360EmployeeEvaluation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[360Evaluation] ADD  CONSTRAINT [PK_360Evaluation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[360EvaluationComment] ADD  CONSTRAINT [PK_360EvaluationComment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[360FeedbackGroup] ADD  CONSTRAINT [PK_360FeedbackGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[360FeedbackMark] ADD  CONSTRAINT [PK_360FeedbackMark] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[360PendingEvaluator] ADD  CONSTRAINT [PK_360PendingEvaluator] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[360Question] ADD  CONSTRAINT [PK_360Question_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[360Questionarie] ADD  CONSTRAINT [PK_360Question] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[360QuestionToMark] ADD  CONSTRAINT [PK_360QuestionToMark] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Certificate] ADD  CONSTRAINT [PK_Certificate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CertificationExam] ADD  CONSTRAINT [PK_CertificationExam] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CompetenceCertificate] ADD  CONSTRAINT [PK_CompetenceCertificate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CustomerContact] ADD  CONSTRAINT [PK_CustomerContact] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
ALTER TABLE [dbo].[EcfCompetence] ADD  CONSTRAINT [PK_Competence] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EcfCompetenceLevel] ADD  CONSTRAINT [PK_CompetenceLevel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EcfEmployeeEvaluation] ADD  CONSTRAINT [PK_EcfEmployeeEvaluation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EcfEvaluationResult] ADD  CONSTRAINT [PK_EcfEvaluation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EcfRole] ADD  CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EcfRoleCompetence] ADD  CONSTRAINT [PK_RoleCompetence] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employee] ADD  CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmployeeEvaluation] ADD  CONSTRAINT [PK_EmployeeEvaluation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmployeeRelations] ADD  CONSTRAINT [PK_EmployeeRelations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmployeeType] ADD  CONSTRAINT [PK_EmployeeType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EvaluationSchedule] ADD  CONSTRAINT [PK_EvaluationSchedule] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Organization] ADD  CONSTRAINT [PK_Organization] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pdp] ADD  CONSTRAINT [PK_Pdp] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Position] ADD  CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PositionRole] ADD  CONSTRAINT [PK_PositionRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Project] ADD  CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProjectCareerPath] ADD  CONSTRAINT [PK_ProjectCareerPath] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProjectPosition] ADD  CONSTRAINT [PK_ProjectPosition] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProjectPositionCompetence] ADD  CONSTRAINT [PK_ProjectPositionCompetence] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RoleGrade] ADD  CONSTRAINT [PK_CareerPath] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RoleGradeCompetence] ADD  CONSTRAINT [PK_CareerPathSkills] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Team] ADD  CONSTRAINT [PK_Team] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[360EmployeeEvaluation] ON 

INSERT [dbo].[360EmployeeEvaluation] ([Id], [EvaluatorEmployeeId], [EvaluationId], [StartDate], [EndDate], [OrganizationId], [360FeedbackGroupId], [StartDoing], [StopDoing], [OtherComments]) VALUES (10, 10, 9, CAST(N'2019-03-12T20:56:06.957' AS DateTime), NULL, 1, 2, NULL, NULL, NULL)
INSERT [dbo].[360EmployeeEvaluation] ([Id], [EvaluatorEmployeeId], [EvaluationId], [StartDate], [EndDate], [OrganizationId], [360FeedbackGroupId], [StartDoing], [StopDoing], [OtherComments]) VALUES (11, 2, 9, CAST(N'2019-03-12T20:56:06.957' AS DateTime), CAST(N'2019-04-11T06:12:17.823' AS DateTime), 1, 2, N'Start doing things', N'Stop doing smth', N'Some comment')
INSERT [dbo].[360EmployeeEvaluation] ([Id], [EvaluatorEmployeeId], [EvaluationId], [StartDate], [EndDate], [OrganizationId], [360FeedbackGroupId], [StartDoing], [StopDoing], [OtherComments]) VALUES (12, 16, 9, CAST(N'2019-03-12T20:56:06.957' AS DateTime), NULL, 1, 2, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[360EmployeeEvaluation] OFF
SET IDENTITY_INSERT [dbo].[360Evaluation] ON 

INSERT [dbo].[360Evaluation] ([Id], [EvaluationId], [QuestionId], [FeedbackMarkId], [OrganizationId]) VALUES (2, 11, 2, 5, 1)
INSERT [dbo].[360Evaluation] ([Id], [EvaluationId], [QuestionId], [FeedbackMarkId], [OrganizationId]) VALUES (3, 11, 9, 4, 1)
INSERT [dbo].[360Evaluation] ([Id], [EvaluationId], [QuestionId], [FeedbackMarkId], [OrganizationId]) VALUES (4, 11, 10, 4, 1)
SET IDENTITY_INSERT [dbo].[360Evaluation] OFF
SET IDENTITY_INSERT [dbo].[360FeedbackGroup] ON 

INSERT [dbo].[360FeedbackGroup] ([Id], [Type]) VALUES (1, N'Self')
INSERT [dbo].[360FeedbackGroup] ([Id], [Type]) VALUES (2, N'Peer')
INSERT [dbo].[360FeedbackGroup] ([Id], [Type]) VALUES (3, N'Customer')
SET IDENTITY_INSERT [dbo].[360FeedbackGroup] OFF
SET IDENTITY_INSERT [dbo].[360FeedbackMark] ON 

INSERT [dbo].[360FeedbackMark] ([Id], [Mark], [Title]) VALUES (1, 1, N'Far below expectations')
INSERT [dbo].[360FeedbackMark] ([Id], [Mark], [Title]) VALUES (2, 2, N'Below expectations')
INSERT [dbo].[360FeedbackMark] ([Id], [Mark], [Title]) VALUES (3, 3, N'Meets expectations')
SET IDENTITY_INSERT [dbo].[360FeedbackMark] OFF
SET IDENTITY_INSERT [dbo].[360Question] ON 

INSERT [dbo].[360Question] ([Id], [QuestionToMarkId], [Question], [Order], [OrganizationId]) VALUES (5, 4, N'wawaw `
awaww 2', 0, 1)
INSERT [dbo].[360Question] ([Id], [QuestionToMarkId], [Question], [Order], [OrganizationId]) VALUES (6, 5, N'tatat 1
tatatata 2', 0, 1)
INSERT [dbo].[360Question] ([Id], [QuestionToMarkId], [Question], [Order], [OrganizationId]) VALUES (7, 6, N'tgggggggggggg
gadss
dfgjfdh', 0, 1)
INSERT [dbo].[360Question] ([Id], [QuestionToMarkId], [Question], [Order], [OrganizationId]) VALUES (8, 7, N'234234
flskdfj', 0, 1)
INSERT [dbo].[360Question] ([Id], [QuestionToMarkId], [Question], [Order], [OrganizationId]) VALUES (9, 8, N'auauauau
sfjd999 999', 0, 1)
INSERT [dbo].[360Question] ([Id], [QuestionToMarkId], [Question], [Order], [OrganizationId]) VALUES (10, 9, N'0a0a0a0a', 0, 1)
INSERT [dbo].[360Question] ([Id], [QuestionToMarkId], [Question], [Order], [OrganizationId]) VALUES (14, 4, N'wawaw `
awaww 2', 0, 1)
INSERT [dbo].[360Question] ([Id], [QuestionToMarkId], [Question], [Order], [OrganizationId]) VALUES (15, 5, N'tatat 1
tatatata 2
sfdd', 0, 1)
INSERT [dbo].[360Question] ([Id], [QuestionToMarkId], [Question], [Order], [OrganizationId]) VALUES (16, 6, N'tgggggggggggg
gadss
dfgjfdh', 0, 1)
INSERT [dbo].[360Question] ([Id], [QuestionToMarkId], [Question], [Order], [OrganizationId]) VALUES (17, 15, N'adsdDAa', 0, 1)
INSERT [dbo].[360Question] ([Id], [QuestionToMarkId], [Question], [Order], [OrganizationId]) VALUES (18, 16, N'asdad3', 0, 1)
INSERT [dbo].[360Question] ([Id], [QuestionToMarkId], [Question], [Order], [OrganizationId]) VALUES (20, 12, N'sfsdfsdf
asdfasedf
45rawf4w', 0, 1)
INSERT [dbo].[360Question] ([Id], [QuestionToMarkId], [Question], [Order], [OrganizationId]) VALUES (21, 13, N'waf4wa
4warfr
', 0, 1)
INSERT [dbo].[360Question] ([Id], [QuestionToMarkId], [Question], [Order], [OrganizationId]) VALUES (22, 14, N'a3wdawf
awf3faw4
f4awf', 0, 1)
INSERT [dbo].[360Question] ([Id], [QuestionToMarkId], [Question], [Order], [OrganizationId]) VALUES (23, 18, N'safdf
a
f', 0, 1)
INSERT [dbo].[360Question] ([Id], [QuestionToMarkId], [Question], [Order], [OrganizationId]) VALUES (24, 19, N'2f3
f4was
fsd
', 0, 1)
INSERT [dbo].[360Question] ([Id], [QuestionToMarkId], [Question], [Order], [OrganizationId]) VALUES (25, 20, N'fa3w
fw3
', 0, 1)
INSERT [dbo].[360Question] ([Id], [QuestionToMarkId], [Question], [Order], [OrganizationId]) VALUES (29, 24, N'as df aw
4f awf', 0, 1)
INSERT [dbo].[360Question] ([Id], [QuestionToMarkId], [Question], [Order], [OrganizationId]) VALUES (30, 25, N'waffwa 
aw fds
f as
dfs ', 0, 1)
INSERT [dbo].[360Question] ([Id], [QuestionToMarkId], [Question], [Order], [OrganizationId]) VALUES (32, 27, N'fsaw3f
wafwe 
', 0, 1)
INSERT [dbo].[360Question] ([Id], [QuestionToMarkId], [Question], [Order], [OrganizationId]) VALUES (33, 28, N'ffw4fe
awfw
afsf', 0, 1)
INSERT [dbo].[360Question] ([Id], [QuestionToMarkId], [Question], [Order], [OrganizationId]) VALUES (34, 29, N'agw
ar23f
wgsdfgs dasf', 0, 1)
SET IDENTITY_INSERT [dbo].[360Question] OFF
SET IDENTITY_INSERT [dbo].[360Questionarie] ON 

INSERT [dbo].[360Questionarie] ([Id], [Text], [360FeedbackGroupId], [OrganizationId]) VALUES (1, N'Question 1', 1, 1)
INSERT [dbo].[360Questionarie] ([Id], [Text], [360FeedbackGroupId], [OrganizationId]) VALUES (2, N'Question 1', 2, 1)
INSERT [dbo].[360Questionarie] ([Id], [Text], [360FeedbackGroupId], [OrganizationId]) VALUES (4, N'Question 2', 1, 1)
SET IDENTITY_INSERT [dbo].[360Questionarie] OFF
SET IDENTITY_INSERT [dbo].[360QuestionToMark] ON 

INSERT [dbo].[360QuestionToMark] ([Id], [QuestionId], [MarkId], [OrganizationId]) VALUES (4, 4, 1, 1)
INSERT [dbo].[360QuestionToMark] ([Id], [QuestionId], [MarkId], [OrganizationId]) VALUES (5, 4, 3, 1)
INSERT [dbo].[360QuestionToMark] ([Id], [QuestionId], [MarkId], [OrganizationId]) VALUES (6, 4, 5, 1)
SET IDENTITY_INSERT [dbo].[360QuestionToMark] OFF
SET IDENTITY_INSERT [dbo].[Certificate] ON 

INSERT [dbo].[Certificate] ([Id], [Name], [Company], [Technology], [Stack], [CertificationLevel]) VALUES (1, N'Microsoft Certified Azure Fundamentals', N'Microsoft', N'Azure', NULL, N'Foundation')
INSERT [dbo].[Certificate] ([Id], [Name], [Company], [Technology], [Stack], [CertificationLevel]) VALUES (2, N'Microsoft Certified: Azure Developer Associate', N'Microsoft', N'Azure', N'Development', N'Associate')
INSERT [dbo].[Certificate] ([Id], [Name], [Company], [Technology], [Stack], [CertificationLevel]) VALUES (4, N'Microsoft Certified: Azure Administrator Associate', N'Microsoft', N'Azure', N'Administration', N'Associate')
SET IDENTITY_INSERT [dbo].[Certificate] OFF
SET IDENTITY_INSERT [dbo].[CertificationExam] ON 

INSERT [dbo].[CertificationExam] ([Id], [Code], [Name], [Price]) VALUES (1, N'AZ-900', N'Microsoft Azure Fundamentals', 100)
INSERT [dbo].[CertificationExam] ([Id], [Code], [Name], [Price]) VALUES (4, N'AZ-203', N'Developing Solutions for Microsoft Azure', 165)
INSERT [dbo].[CertificationExam] ([Id], [Code], [Name], [Price]) VALUES (5, N'AZ-103', N'Microsoft Azure Administrator', 165)
SET IDENTITY_INSERT [dbo].[CertificationExam] OFF
SET IDENTITY_INSERT [dbo].[CompetenceCertificate] ON 

INSERT [dbo].[CompetenceCertificate] ([Id], [CompetenceId], [CompetenceLevelId], [CertificateId], [OrganizationId]) VALUES (1, N'B1 ', 23, 1, 1)
INSERT [dbo].[CompetenceCertificate] ([Id], [CompetenceId], [CompetenceLevelId], [CertificateId], [OrganizationId]) VALUES (2, N'B2 ', 24, 2, 1)
SET IDENTITY_INSERT [dbo].[CompetenceCertificate] OFF
SET IDENTITY_INSERT [dbo].[CustomerContact] ON 

INSERT [dbo].[CustomerContact] ([Id], [Name], [Email], [Phone], [ProjectId], [OrganizationId]) VALUES (2, N'Name namin', N'mail@mail.com', N'+242342343', 3, 1)
SET IDENTITY_INSERT [dbo].[CustomerContact] OFF
INSERT [dbo].[EcfCompetence] ([Id], [Name], [Summary]) VALUES (N'A1 ', N'IS and Business Strategy Alignment', N'Anticipates long term business requirements, influences improvement of organisational process efficiency and effectivenes. Determines the IS model and the enterprise architecture in line with the organisation’s policy and ensures a secure environment. Makes strategic IS policy decisions for the enterprise, including sourcing strategies.  ')
INSERT [dbo].[EcfCompetence] ([Id], [Name], [Summary]) VALUES (N'A2 ', N'Service Level Management', N'Defines, validates and makes applicable service level agreements (SLAs) and underpinning contracts for services offered. Negotiates service performance levels taking into account the needs and capacity of stakeholders and business.')
SET IDENTITY_INSERT [dbo].[EcfCompetenceLevel] ON 

INSERT [dbo].[EcfCompetenceLevel] ([Id], [CompetenceId], [Level], [Description]) VALUES (1, N'A1 ', 4, N'Provides leadership for the construction and implementation of long term innovative IS solutions.')
INSERT [dbo].[EcfCompetenceLevel] ([Id], [CompetenceId], [Level], [Description]) VALUES (2, N'A1 ', 5, N'Provides IS strategic leadership to reach consensus and commitment from the management team of the enterprise.')
INSERT [dbo].[EcfCompetenceLevel] ([Id], [CompetenceId], [Level], [Description]) VALUES (3, N'A2 ', 3, N'Ensures the content of the SLA.')
GO
SET IDENTITY_INSERT [dbo].[EcfCompetenceLevel] OFF
SET IDENTITY_INSERT [dbo].[EcfEmployeeEvaluation] ON 

INSERT [dbo].[EcfEmployeeEvaluation] ([Id], [EvaluationId], [EvaluatorId], [StartDate], [StartById], [EndDate], [EndById], [OrganizationId]) VALUES (1, 3, 6, CAST(N'2019-03-02T13:53:39.670' AS DateTime), 11, NULL, NULL, 1)
INSERT [dbo].[EcfEmployeeEvaluation] ([Id], [EvaluationId], [EvaluatorId], [StartDate], [StartById], [EndDate], [EndById], [OrganizationId]) VALUES (2, 4, 6, CAST(N'2019-03-03T11:29:11.267' AS DateTime), 11, NULL, NULL, 1)
INSERT [dbo].[EcfEmployeeEvaluation] ([Id], [EvaluationId], [EvaluatorId], [StartDate], [StartById], [EndDate], [EndById], [OrganizationId]) VALUES (3, 5, 7, CAST(N'2019-03-05T17:32:01.637' AS DateTime), 11, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[EcfEmployeeEvaluation] OFF
SET IDENTITY_INSERT [dbo].[EcfEvaluationResult] ON 

INSERT [dbo].[EcfEvaluationResult] ([Id], [EvaluationId], [Competence], [CompetenceLevel], [Date]) VALUES (1, 1, N'B1 ', 2, NULL)
INSERT [dbo].[EcfEvaluationResult] ([Id], [EvaluationId], [Competence], [CompetenceLevel], [Date]) VALUES (2, 1, N'B2 ', 3, NULL)
INSERT [dbo].[EcfEvaluationResult] ([Id], [EvaluationId], [Competence], [CompetenceLevel], [Date]) VALUES (3, 1, N'B3 ', 4, NULL)
SET IDENTITY_INSERT [dbo].[EcfEvaluationResult] OFF
SET IDENTITY_INSERT [dbo].[EcfRole] ON 

INSERT [dbo].[EcfRole] ([Id], [RoleId], [Name], [Summary], [Description]) VALUES (1, 6, N'Developer', N'Designs and/or codes components to meet solution specifications', N'Ensures building and implementing of ICT applications. Contributes to lowlevel design. Writes code to ensure optimum efficiency and functionality and user experience.')
INSERT [dbo].[EcfRole] ([Id], [RoleId], [Name], [Summary], [Description]) VALUES (2, 22, N'Technical Specialist', N'Maintains and repairs hardware, software and service applications', N'To effectively maintain customer hardware/software. Responsible for delivering timely and effective repairs to ensure optimal system performance and superior customer satisfaction.')
INSERT [dbo].[EcfRole] ([Id], [RoleId], [Name], [Summary], [Description]) VALUES (3, 24, N'Solution Designer', N'Provides the translation of business requirements into end-to-end IT solutions', N'Proposes and designs solutions in line with technical architecture which fit business requirements and support change.')
SET IDENTITY_INSERT [dbo].[EcfRole] OFF
SET IDENTITY_INSERT [dbo].[EcfRoleCompetence] ON 

INSERT [dbo].[EcfRoleCompetence] ([Id], [RoleId], [CompetenceId], [CompetenceLevel]) VALUES (1, 1, N'D5 ', 3)
INSERT [dbo].[EcfRoleCompetence] ([Id], [RoleId], [CompetenceId], [CompetenceLevel]) VALUES (2, 1, N'D6 ', 4)
INSERT [dbo].[EcfRoleCompetence] ([Id], [RoleId], [CompetenceId], [CompetenceLevel]) VALUES (3, 1, N'D7 ', 4)
GO
SET IDENTITY_INSERT [dbo].[EcfRoleCompetence] OFF
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id], [UserId], [IsManager], [EmployeeTypeId], [OrganizationId], [NameTemp], [HiringDate], [Name], [Surname]) VALUES (1, NULL, 1, 1, 1, N'John Manager', CAST(N'2010-02-01' AS Date), NULL, NULL)
INSERT [dbo].[Employee] ([Id], [UserId], [IsManager], [EmployeeTypeId], [OrganizationId], [NameTemp], [HiringDate], [Name], [Surname]) VALUES (2, NULL, 1, 1, 1, N'Bob Manager', CAST(N'2011-12-01' AS Date), NULL, NULL)
INSERT [dbo].[Employee] ([Id], [UserId], [IsManager], [EmployeeTypeId], [OrganizationId], [NameTemp], [HiringDate], [Name], [Surname]) VALUES (3, NULL, 0, 3, 1, N'Karl QA', CAST(N'2017-11-21' AS Date), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Employee] OFF
SET IDENTITY_INSERT [dbo].[EmployeeEvaluation] ON 

INSERT [dbo].[EmployeeEvaluation] ([Id], [EmployeeId], [StartDate], [StartedById], [EndDate], [EndedById], [OrganizationId], [Archived]) VALUES (3, 21, CAST(N'2019-03-02T13:53:39.670' AS DateTime), 11, NULL, NULL, 1, 0)
INSERT [dbo].[EmployeeEvaluation] ([Id], [EmployeeId], [StartDate], [StartedById], [EndDate], [EndedById], [OrganizationId], [Archived]) VALUES (4, 7, CAST(N'2019-03-03T11:29:11.267' AS DateTime), 11, NULL, NULL, 1, 0)
INSERT [dbo].[EmployeeEvaluation] ([Id], [EmployeeId], [StartDate], [StartedById], [EndDate], [EndedById], [OrganizationId], [Archived]) VALUES (5, 17, CAST(N'2019-03-05T17:32:01.637' AS DateTime), 11, NULL, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[EmployeeEvaluation] OFF
SET IDENTITY_INSERT [dbo].[EmployeeRelations] ON 

INSERT [dbo].[EmployeeRelations] ([Id], [EmployeeId], [ManagerId], [TeamId], [ProjectId], [PositionId], [OrganizationId], [Archived]) VALUES (1, NULL, 1, 1, 1, NULL, 1, 0)
INSERT [dbo].[EmployeeRelations] ([Id], [EmployeeId], [ManagerId], [TeamId], [ProjectId], [PositionId], [OrganizationId], [Archived]) VALUES (2, 6, NULL, 1, 1, NULL, 1, 0)
INSERT [dbo].[EmployeeRelations] ([Id], [EmployeeId], [ManagerId], [TeamId], [ProjectId], [PositionId], [OrganizationId], [Archived]) VALUES (3, 21, NULL, 4, 1, 2, 1, 0)
SET IDENTITY_INSERT [dbo].[EmployeeRelations] OFF
SET IDENTITY_INSERT [dbo].[EmployeeType] ON 

INSERT [dbo].[EmployeeType] ([Id], [Type], [OrganizationId]) VALUES (1, N'MANAGER', 1)
INSERT [dbo].[EmployeeType] ([Id], [Type], [OrganizationId]) VALUES (2, N'DEV', 1)
INSERT [dbo].[EmployeeType] ([Id], [Type], [OrganizationId]) VALUES (3, N'QA', 1)
SET IDENTITY_INSERT [dbo].[EmployeeType] OFF
SET IDENTITY_INSERT [dbo].[Organization] ON 

INSERT [dbo].[Organization] ([Id], [Name]) VALUES (1, N'Smart CORP')
SET IDENTITY_INSERT [dbo].[Organization] OFF
SET IDENTITY_INSERT [dbo].[Position] ON 

INSERT [dbo].[Position] ([Id], [Name], [ProjectId], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDeleted], [OrganizationId]) VALUES (1, N'First position', NULL, CAST(N'2019-02-26T18:14:57.683' AS DateTime), 1, NULL, NULL, 0, 0)
INSERT [dbo].[Position] ([Id], [Name], [ProjectId], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDeleted], [OrganizationId]) VALUES (2, N'Developer 1', NULL, CAST(N'2019-02-26T19:18:03.260' AS DateTime), 1, NULL, NULL, 0, 0)
INSERT [dbo].[Position] ([Id], [Name], [ProjectId], [CreatedDate], [CreatedBy], [UpdatedDate], [UpdatedBy], [IsDeleted], [OrganizationId]) VALUES (3, N'Developer 2', NULL, CAST(N'2019-02-26T19:19:59.907' AS DateTime), 1, NULL, NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[Position] OFF
SET IDENTITY_INSERT [dbo].[PositionRole] ON 

INSERT [dbo].[PositionRole] ([Id], [PositionId], [RoleId], [DateTime]) VALUES (1, 1, 1, CAST(N'2019-02-26T18:14:57.717' AS DateTime))
INSERT [dbo].[PositionRole] ([Id], [PositionId], [RoleId], [DateTime]) VALUES (2, 1, 3, CAST(N'2019-02-26T18:14:57.723' AS DateTime))
INSERT [dbo].[PositionRole] ([Id], [PositionId], [RoleId], [DateTime]) VALUES (3, 2, 1, CAST(N'2019-02-26T19:18:03.293' AS DateTime))
SET IDENTITY_INSERT [dbo].[PositionRole] OFF
SET IDENTITY_INSERT [dbo].[Project] ON 

INSERT [dbo].[Project] ([Id], [Name], [OrganizationId]) VALUES (1, N'Smart product 1', 1)
INSERT [dbo].[Project] ([Id], [Name], [OrganizationId]) VALUES (2, N'Usual product 1', 1)
INSERT [dbo].[Project] ([Id], [Name], [OrganizationId]) VALUES (3, N'Karandash', 1)
SET IDENTITY_INSERT [dbo].[Project] OFF
SET IDENTITY_INSERT [dbo].[ProjectCareerPath] ON 

INSERT [dbo].[ProjectCareerPath] ([Id], [ProjectId], [Name], [RoleId], [TeamId], [OrganizationId]) VALUES (1, 1, N'Mainenance developer', 2, NULL, 1)
INSERT [dbo].[ProjectCareerPath] ([Id], [ProjectId], [Name], [RoleId], [TeamId], [OrganizationId]) VALUES (2, 1, N'QA', 3, NULL, 1)
SET IDENTITY_INSERT [dbo].[ProjectCareerPath] OFF
SET IDENTITY_INSERT [dbo].[ProjectPosition] ON 

INSERT [dbo].[ProjectPosition] ([Id], [ProjectId], [CareerPathId], [RoleGradeId], [OrganizationId]) VALUES (1, 1, 1, 2, 1)
INSERT [dbo].[ProjectPosition] ([Id], [ProjectId], [CareerPathId], [RoleGradeId], [OrganizationId]) VALUES (2, 1, 1, 3, 1)
INSERT [dbo].[ProjectPosition] ([Id], [ProjectId], [CareerPathId], [RoleGradeId], [OrganizationId]) VALUES (3, 1, 1, 4, 1)
SET IDENTITY_INSERT [dbo].[ProjectPosition] OFF
SET IDENTITY_INSERT [dbo].[ProjectPositionCompetence] ON 

INSERT [dbo].[ProjectPositionCompetence] ([Id], [RoleGradeId], [ProjectPositionId], [CompetenceId], [CompetenceLevelId]) VALUES (1, 2, 1, N'A6 ', 14)
INSERT [dbo].[ProjectPositionCompetence] ([Id], [RoleGradeId], [ProjectPositionId], [CompetenceId], [CompetenceLevelId]) VALUES (2, 2, 1, N'B1 ', 23)
INSERT [dbo].[ProjectPositionCompetence] ([Id], [RoleGradeId], [ProjectPositionId], [CompetenceId], [CompetenceLevelId]) VALUES (3, 2, 1, N'B2 ', 26)
SET IDENTITY_INSERT [dbo].[ProjectPositionCompetence] OFF
SET IDENTITY_INSERT [dbo].[RoleGrade] ON 

INSERT [dbo].[RoleGrade] ([Id], [EmployeeTypeId], [Name], [Order], [OrganizationId]) VALUES (1, 2, N'Intern Developer', 1, 1)
INSERT [dbo].[RoleGrade] ([Id], [EmployeeTypeId], [Name], [Order], [OrganizationId]) VALUES (2, 2, N'Junior Developer', 2, 1)
INSERT [dbo].[RoleGrade] ([Id], [EmployeeTypeId], [Name], [Order], [OrganizationId]) VALUES (3, 2, N'Middle Developer', 3, 1)
SET IDENTITY_INSERT [dbo].[RoleGrade] OFF
SET IDENTITY_INSERT [dbo].[RoleGradeCompetence] ON 

INSERT [dbo].[RoleGradeCompetence] ([Id], [CompetenceId], [CompetenceLevelId], [RoleGradeId]) VALUES (10, N'A2 ', 3, 14)
INSERT [dbo].[RoleGradeCompetence] ([Id], [CompetenceId], [CompetenceLevelId], [RoleGradeId]) VALUES (11, N'A4 ', 8, 14)
INSERT [dbo].[RoleGradeCompetence] ([Id], [CompetenceId], [CompetenceLevelId], [RoleGradeId]) VALUES (12, N'A6 ', 14, 14)
SET IDENTITY_INSERT [dbo].[RoleGradeCompetence] OFF
SET IDENTITY_INSERT [dbo].[Team] ON 

INSERT [dbo].[Team] ([Id], [Name], [ProjectId], [OrganizationId]) VALUES (1, N'Smart team 1', 1, 1)
INSERT [dbo].[Team] ([Id], [Name], [ProjectId], [OrganizationId]) VALUES (2, N'Smart team 2', 1, 1)
INSERT [dbo].[Team] ([Id], [Name], [ProjectId], [OrganizationId]) VALUES (3, N'Usual team 1', 2, 1)
SET IDENTITY_INSERT [dbo].[Team] OFF
ALTER TABLE [dbo].[EcfRole] ADD UNIQUE NONCLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmployeeRelations] ADD  CONSTRAINT [DF_EmployeeRelations_Archived]  DEFAULT ((0)) FOR [Archived]
GO
ALTER TABLE [dbo].[Position] ADD  CONSTRAINT [DF_Position_CreatedDate]  DEFAULT (getutcdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Position] ADD  CONSTRAINT [DF_Position_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[PositionRole] ADD  CONSTRAINT [DF_PositionRole_DateTime]  DEFAULT (getutcdate()) FOR [DateTime]
GO
ALTER TABLE [dbo].[360EmployeeEvaluation]  WITH CHECK ADD  CONSTRAINT [FK_360EmployeeEvaluation_360FeedbackGroup] FOREIGN KEY([360FeedbackGroupId])
REFERENCES [dbo].[360FeedbackGroup] ([Id])
GO
ALTER TABLE [dbo].[360EmployeeEvaluation] CHECK CONSTRAINT [FK_360EmployeeEvaluation_360FeedbackGroup]
GO
ALTER TABLE [dbo].[360EmployeeEvaluation]  WITH CHECK ADD  CONSTRAINT [FK_360EmployeeEvaluation_Employee] FOREIGN KEY([EvaluatorEmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[360EmployeeEvaluation] CHECK CONSTRAINT [FK_360EmployeeEvaluation_Employee]
GO
ALTER TABLE [dbo].[360EmployeeEvaluation]  WITH CHECK ADD  CONSTRAINT [FK_360EmployeeEvaluation_EmployeeEvaluation] FOREIGN KEY([EvaluationId])
REFERENCES [dbo].[EmployeeEvaluation] ([Id])
GO
ALTER TABLE [dbo].[360EmployeeEvaluation] CHECK CONSTRAINT [FK_360EmployeeEvaluation_EmployeeEvaluation]
GO
ALTER TABLE [dbo].[360EmployeeEvaluation]  WITH CHECK ADD  CONSTRAINT [FK_360EmployeeEvaluation_Organization] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organization] ([Id])
GO
ALTER TABLE [dbo].[360EmployeeEvaluation] CHECK CONSTRAINT [FK_360EmployeeEvaluation_Organization]
GO
ALTER TABLE [dbo].[360Evaluation]  WITH CHECK ADD  CONSTRAINT [FK_360Evaluation_360FeedbackMark] FOREIGN KEY([FeedbackMarkId])
REFERENCES [dbo].[360FeedbackMark] ([Id])
GO
ALTER TABLE [dbo].[360Evaluation] CHECK CONSTRAINT [FK_360Evaluation_360FeedbackMark]
GO
ALTER TABLE [dbo].[360Evaluation]  WITH CHECK ADD  CONSTRAINT [FK_360Evaluation_360Question] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[360Questionarie] ([Id])
GO
ALTER TABLE [dbo].[360Evaluation] CHECK CONSTRAINT [FK_360Evaluation_360Question]
GO
ALTER TABLE [dbo].[360Evaluation]  WITH CHECK ADD  CONSTRAINT [FK_360Evaluation_EmployeeEvaluation] FOREIGN KEY([EvaluationId])
REFERENCES [dbo].[360EmployeeEvaluation] ([Id])
GO
ALTER TABLE [dbo].[360Evaluation] CHECK CONSTRAINT [FK_360Evaluation_EmployeeEvaluation]
GO
ALTER TABLE [dbo].[360Evaluation]  WITH CHECK ADD  CONSTRAINT [FK_360Evaluation_Organization] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organization] ([Id])
GO
ALTER TABLE [dbo].[360Evaluation] CHECK CONSTRAINT [FK_360Evaluation_Organization]
GO
ALTER TABLE [dbo].[360EvaluationComment]  WITH CHECK ADD  CONSTRAINT [FK_360EvaluationComment_360EmployeeEvaluation] FOREIGN KEY([EvaluationId])
REFERENCES [dbo].[360EmployeeEvaluation] ([Id])
GO
ALTER TABLE [dbo].[360EvaluationComment] CHECK CONSTRAINT [FK_360EvaluationComment_360EmployeeEvaluation]
GO
ALTER TABLE [dbo].[360EvaluationComment]  WITH CHECK ADD  CONSTRAINT [FK_360EvaluationComment_Organization] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organization] ([Id])
GO
ALTER TABLE [dbo].[360EvaluationComment] CHECK CONSTRAINT [FK_360EvaluationComment_Organization]
GO
ALTER TABLE [dbo].[360PendingEvaluator]  WITH CHECK ADD  CONSTRAINT [FK_360PendingEvaluator_360PendingEvaluator] FOREIGN KEY([360EmployeeEvaluationId])
REFERENCES [dbo].[360EmployeeEvaluation] ([Id])
GO
ALTER TABLE [dbo].[360PendingEvaluator] CHECK CONSTRAINT [FK_360PendingEvaluator_360PendingEvaluator]
GO
ALTER TABLE [dbo].[360PendingEvaluator]  WITH CHECK ADD  CONSTRAINT [FK_360PendingEvaluator_Employee] FOREIGN KEY([EvaluatorId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[360PendingEvaluator] CHECK CONSTRAINT [FK_360PendingEvaluator_Employee]
GO
ALTER TABLE [dbo].[360PendingEvaluator]  WITH CHECK ADD  CONSTRAINT [FK_360PendingEvaluator_Organization] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organization] ([Id])
GO
ALTER TABLE [dbo].[360PendingEvaluator] CHECK CONSTRAINT [FK_360PendingEvaluator_Organization]
GO
ALTER TABLE [dbo].[360Question]  WITH CHECK ADD  CONSTRAINT [FK_360Question_360QuestionToMark] FOREIGN KEY([QuestionToMarkId])
REFERENCES [dbo].[360QuestionToMark] ([Id])
GO
ALTER TABLE [dbo].[360Question] CHECK CONSTRAINT [FK_360Question_360QuestionToMark]
GO
ALTER TABLE [dbo].[360Question]  WITH CHECK ADD  CONSTRAINT [FK_360Question_Organization] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organization] ([Id])
GO
ALTER TABLE [dbo].[360Question] CHECK CONSTRAINT [FK_360Question_Organization]
GO
ALTER TABLE [dbo].[360Questionarie]  WITH CHECK ADD  CONSTRAINT [FK_360Question_360FeedbackGroup] FOREIGN KEY([360FeedbackGroupId])
REFERENCES [dbo].[360FeedbackGroup] ([Id])
GO
ALTER TABLE [dbo].[360Questionarie] CHECK CONSTRAINT [FK_360Question_360FeedbackGroup]
GO
ALTER TABLE [dbo].[360Questionarie]  WITH CHECK ADD  CONSTRAINT [FK_360Questionarie_Organization] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organization] ([Id])
GO
ALTER TABLE [dbo].[360Questionarie] CHECK CONSTRAINT [FK_360Questionarie_Organization]
GO
ALTER TABLE [dbo].[360QuestionToMark]  WITH CHECK ADD  CONSTRAINT [FK_360QuestionToMark_360Questionarie] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[360Questionarie] ([Id])
GO
ALTER TABLE [dbo].[360QuestionToMark] CHECK CONSTRAINT [FK_360QuestionToMark_360Questionarie]
GO
ALTER TABLE [dbo].[360QuestionToMark]  WITH CHECK ADD  CONSTRAINT [FK_360QuestionToMark_Organization] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organization] ([Id])
GO
ALTER TABLE [dbo].[360QuestionToMark] CHECK CONSTRAINT [FK_360QuestionToMark_Organization]
GO
ALTER TABLE [dbo].[CompetenceCertificate]  WITH CHECK ADD  CONSTRAINT [FK_CompetenceCertificate_Certificate] FOREIGN KEY([CertificateId])
REFERENCES [dbo].[Certificate] ([Id])
GO
ALTER TABLE [dbo].[CompetenceCertificate] CHECK CONSTRAINT [FK_CompetenceCertificate_Certificate]
GO
ALTER TABLE [dbo].[CompetenceCertificate]  WITH CHECK ADD  CONSTRAINT [FK_CompetenceCertificate_EcfCompetence] FOREIGN KEY([CompetenceId])
REFERENCES [dbo].[EcfCompetence] ([Id])
GO
ALTER TABLE [dbo].[CompetenceCertificate] CHECK CONSTRAINT [FK_CompetenceCertificate_EcfCompetence]
GO
ALTER TABLE [dbo].[CompetenceCertificate]  WITH CHECK ADD  CONSTRAINT [FK_CompetenceCertificate_EcfCompetenceLevel] FOREIGN KEY([CompetenceLevelId])
REFERENCES [dbo].[EcfCompetenceLevel] ([Id])
GO
ALTER TABLE [dbo].[CompetenceCertificate] CHECK CONSTRAINT [FK_CompetenceCertificate_EcfCompetenceLevel]
GO
ALTER TABLE [dbo].[CompetenceCertificate]  WITH CHECK ADD  CONSTRAINT [FK_CompetenceCertificate_Organization] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organization] ([Id])
GO
ALTER TABLE [dbo].[CompetenceCertificate] CHECK CONSTRAINT [FK_CompetenceCertificate_Organization]
GO
ALTER TABLE [dbo].[CustomerContact]  WITH CHECK ADD  CONSTRAINT [FK_CustomerContact_Organization] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organization] ([Id])
GO
ALTER TABLE [dbo].[CustomerContact] CHECK CONSTRAINT [FK_CustomerContact_Organization]
GO
ALTER TABLE [dbo].[CustomerContact]  WITH CHECK ADD  CONSTRAINT [FK_CustomerContact_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[CustomerContact] CHECK CONSTRAINT [FK_CustomerContact_Project]
GO
ALTER TABLE [dbo].[EcfCompetenceLevel]  WITH CHECK ADD  CONSTRAINT [FK_CompetenceLevel_Competence] FOREIGN KEY([CompetenceId])
REFERENCES [dbo].[EcfCompetence] ([Id])
GO
ALTER TABLE [dbo].[EcfCompetenceLevel] CHECK CONSTRAINT [FK_CompetenceLevel_Competence]
GO
ALTER TABLE [dbo].[EcfEmployeeEvaluation]  WITH CHECK ADD  CONSTRAINT [FK_EcfEmployeeEvaluation_EmployeeEvaluation] FOREIGN KEY([EvaluationId])
REFERENCES [dbo].[EmployeeEvaluation] ([Id])
GO
ALTER TABLE [dbo].[EcfEmployeeEvaluation] CHECK CONSTRAINT [FK_EcfEmployeeEvaluation_EmployeeEvaluation]
GO
ALTER TABLE [dbo].[EcfEmployeeEvaluation]  WITH CHECK ADD  CONSTRAINT [FK_EcfEmployeeEvaluation_EndByEmployee] FOREIGN KEY([EndById])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[EcfEmployeeEvaluation] CHECK CONSTRAINT [FK_EcfEmployeeEvaluation_EndByEmployee]
GO
ALTER TABLE [dbo].[EcfEmployeeEvaluation]  WITH CHECK ADD  CONSTRAINT [FK_EcfEmployeeEvaluation_Evaluator] FOREIGN KEY([EvaluatorId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[EcfEmployeeEvaluation] CHECK CONSTRAINT [FK_EcfEmployeeEvaluation_Evaluator]
GO
ALTER TABLE [dbo].[EcfEmployeeEvaluation]  WITH CHECK ADD  CONSTRAINT [FK_EcfEmployeeEvaluation_Organization] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organization] ([Id])
GO
ALTER TABLE [dbo].[EcfEmployeeEvaluation] CHECK CONSTRAINT [FK_EcfEmployeeEvaluation_Organization]
GO
ALTER TABLE [dbo].[EcfEmployeeEvaluation]  WITH CHECK ADD  CONSTRAINT [FK_EcfEmployeeEvaluation_StartByEmployee] FOREIGN KEY([StartById])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[EcfEmployeeEvaluation] CHECK CONSTRAINT [FK_EcfEmployeeEvaluation_StartByEmployee]
GO
ALTER TABLE [dbo].[EcfEvaluationResult]  WITH CHECK ADD  CONSTRAINT [FK_EcfEvaluation_EcfCompetence] FOREIGN KEY([Competence])
REFERENCES [dbo].[EcfCompetence] ([Id])
GO
ALTER TABLE [dbo].[EcfEvaluationResult] CHECK CONSTRAINT [FK_EcfEvaluation_EcfCompetence]
GO
ALTER TABLE [dbo].[EcfEvaluationResult]  WITH CHECK ADD  CONSTRAINT [FK_EcfEvaluationResults_EcfEmployeeEvaluation] FOREIGN KEY([EvaluationId])
REFERENCES [dbo].[EcfEmployeeEvaluation] ([Id])
GO
ALTER TABLE [dbo].[EcfEvaluationResult] CHECK CONSTRAINT [FK_EcfEvaluationResults_EcfEmployeeEvaluation]
GO
ALTER TABLE [dbo].[EcfRoleCompetence]  WITH CHECK ADD  CONSTRAINT [FK_EcfRoleCompetence_EcfCompetence] FOREIGN KEY([CompetenceId])
REFERENCES [dbo].[EcfCompetence] ([Id])
GO
ALTER TABLE [dbo].[EcfRoleCompetence] CHECK CONSTRAINT [FK_EcfRoleCompetence_EcfCompetence]
GO
ALTER TABLE [dbo].[EcfRoleCompetence]  WITH CHECK ADD  CONSTRAINT [FK_EcfRoleCompetence_EcfRole] FOREIGN KEY([RoleId])
REFERENCES [dbo].[EcfRole] ([RoleId])
GO
ALTER TABLE [dbo].[EcfRoleCompetence] CHECK CONSTRAINT [FK_EcfRoleCompetence_EcfRole]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_EmployeeType] FOREIGN KEY([EmployeeTypeId])
REFERENCES [dbo].[EmployeeType] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_EmployeeType]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Organization] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organization] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Organization]
GO
ALTER TABLE [dbo].[EmployeeEvaluation]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeEvaluation_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[EmployeeEvaluation] CHECK CONSTRAINT [FK_EmployeeEvaluation_Employee]
GO
ALTER TABLE [dbo].[EmployeeEvaluation]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeEvaluation_EmployeeEndedBy] FOREIGN KEY([EndedById])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[EmployeeEvaluation] CHECK CONSTRAINT [FK_EmployeeEvaluation_EmployeeEndedBy]
GO
ALTER TABLE [dbo].[EmployeeEvaluation]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeEvaluation_EmployeeStartedBy] FOREIGN KEY([StartedById])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[EmployeeEvaluation] CHECK CONSTRAINT [FK_EmployeeEvaluation_EmployeeStartedBy]
GO
ALTER TABLE [dbo].[EmployeeEvaluation]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeEvaluation_Organization] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organization] ([Id])
GO
ALTER TABLE [dbo].[EmployeeEvaluation] CHECK CONSTRAINT [FK_EmployeeEvaluation_Organization]
GO
ALTER TABLE [dbo].[EmployeeRelations]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeRelations_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[EmployeeRelations] CHECK CONSTRAINT [FK_EmployeeRelations_Employee]
GO
ALTER TABLE [dbo].[EmployeeRelations]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeRelations_Manager] FOREIGN KEY([ManagerId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[EmployeeRelations] CHECK CONSTRAINT [FK_EmployeeRelations_Manager]
GO
ALTER TABLE [dbo].[EmployeeRelations]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeRelations_Organization] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organization] ([Id])
GO
ALTER TABLE [dbo].[EmployeeRelations] CHECK CONSTRAINT [FK_EmployeeRelations_Organization]
GO
ALTER TABLE [dbo].[EmployeeRelations]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeRelations_Position] FOREIGN KEY([PositionId])
REFERENCES [dbo].[Position] ([Id])
GO
ALTER TABLE [dbo].[EmployeeRelations] CHECK CONSTRAINT [FK_EmployeeRelations_Position]
GO
ALTER TABLE [dbo].[EmployeeRelations]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeRelations_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[EmployeeRelations] CHECK CONSTRAINT [FK_EmployeeRelations_Project]
GO
ALTER TABLE [dbo].[EmployeeRelations]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeRelations_Team] FOREIGN KEY([TeamId])
REFERENCES [dbo].[Team] ([Id])
GO
ALTER TABLE [dbo].[EmployeeRelations] CHECK CONSTRAINT [FK_EmployeeRelations_Team]
GO
ALTER TABLE [dbo].[EmployeeType]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeType_Organization] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organization] ([Id])
GO
ALTER TABLE [dbo].[EmployeeType] CHECK CONSTRAINT [FK_EmployeeType_Organization]
GO
ALTER TABLE [dbo].[EvaluationSchedule]  WITH CHECK ADD  CONSTRAINT [FK_EvaluationSchedule_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[EvaluationSchedule] CHECK CONSTRAINT [FK_EvaluationSchedule_Employee]
GO
ALTER TABLE [dbo].[EvaluationSchedule]  WITH CHECK ADD  CONSTRAINT [FK_EvaluationSchedule_Organization] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organization] ([Id])
GO
ALTER TABLE [dbo].[EvaluationSchedule] CHECK CONSTRAINT [FK_EvaluationSchedule_Organization]
GO
ALTER TABLE [dbo].[Pdp]  WITH CHECK ADD  CONSTRAINT [FK_Pdp_Certificate] FOREIGN KEY([CertificateId])
REFERENCES [dbo].[Certificate] ([Id])
GO
ALTER TABLE [dbo].[Pdp] CHECK CONSTRAINT [FK_Pdp_Certificate]
GO
ALTER TABLE [dbo].[Pdp]  WITH CHECK ADD  CONSTRAINT [FK_Pdp_Organization] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organization] ([Id])
GO
ALTER TABLE [dbo].[Pdp] CHECK CONSTRAINT [FK_Pdp_Organization]
GO
ALTER TABLE [dbo].[Position]  WITH CHECK ADD  CONSTRAINT [FK_Position_EmployeeCreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Position] CHECK CONSTRAINT [FK_Position_EmployeeCreatedBy]
GO
ALTER TABLE [dbo].[Position]  WITH CHECK ADD  CONSTRAINT [FK_Position_EmployeeUpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Position] CHECK CONSTRAINT [FK_Position_EmployeeUpdatedBy]
GO
ALTER TABLE [dbo].[Position]  WITH CHECK ADD  CONSTRAINT [FK_Position_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[Position] CHECK CONSTRAINT [FK_Position_Project]
GO
ALTER TABLE [dbo].[PositionRole]  WITH CHECK ADD  CONSTRAINT [FK_PositionRole_EcfRole] FOREIGN KEY([RoleId])
REFERENCES [dbo].[EcfRole] ([Id])
GO
ALTER TABLE [dbo].[PositionRole] CHECK CONSTRAINT [FK_PositionRole_EcfRole]
GO
ALTER TABLE [dbo].[PositionRole]  WITH CHECK ADD  CONSTRAINT [FK_PositionRole_Position] FOREIGN KEY([PositionId])
REFERENCES [dbo].[Position] ([Id])
GO
ALTER TABLE [dbo].[PositionRole] CHECK CONSTRAINT [FK_PositionRole_Position]
GO
ALTER TABLE [dbo].[ProjectCareerPath]  WITH CHECK ADD  CONSTRAINT [FK_ProjectCareerPath_Organization] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organization] ([Id])
GO
ALTER TABLE [dbo].[ProjectCareerPath] CHECK CONSTRAINT [FK_ProjectCareerPath_Organization]
GO
ALTER TABLE [dbo].[ProjectCareerPath]  WITH CHECK ADD  CONSTRAINT [FK_ProjectCareerPath_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[ProjectCareerPath] CHECK CONSTRAINT [FK_ProjectCareerPath_Project]
GO
ALTER TABLE [dbo].[ProjectCareerPath]  WITH CHECK ADD  CONSTRAINT [FK_ProjectCareerPath_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[EmployeeType] ([Id])
GO
ALTER TABLE [dbo].[ProjectCareerPath] CHECK CONSTRAINT [FK_ProjectCareerPath_Role]
GO
ALTER TABLE [dbo].[ProjectCareerPath]  WITH CHECK ADD  CONSTRAINT [FK_ProjectCareerPath_Team] FOREIGN KEY([TeamId])
REFERENCES [dbo].[Team] ([Id])
GO
ALTER TABLE [dbo].[ProjectCareerPath] CHECK CONSTRAINT [FK_ProjectCareerPath_Team]
GO
ALTER TABLE [dbo].[ProjectPosition]  WITH CHECK ADD  CONSTRAINT [FK_ProjectPosition_Organization] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organization] ([Id])
GO
ALTER TABLE [dbo].[ProjectPosition] CHECK CONSTRAINT [FK_ProjectPosition_Organization]
GO
ALTER TABLE [dbo].[ProjectPosition]  WITH CHECK ADD  CONSTRAINT [FK_ProjectPosition_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[ProjectPosition] CHECK CONSTRAINT [FK_ProjectPosition_Project]
GO
ALTER TABLE [dbo].[ProjectPosition]  WITH CHECK ADD  CONSTRAINT [FK_ProjectPosition_ProjectCareerPath] FOREIGN KEY([CareerPathId])
REFERENCES [dbo].[ProjectCareerPath] ([Id])
GO
ALTER TABLE [dbo].[ProjectPosition] CHECK CONSTRAINT [FK_ProjectPosition_ProjectCareerPath]
GO
ALTER TABLE [dbo].[ProjectPosition]  WITH CHECK ADD  CONSTRAINT [FK_ProjectPosition_RoleGrade] FOREIGN KEY([RoleGradeId])
REFERENCES [dbo].[RoleGrade] ([Id])
GO
ALTER TABLE [dbo].[ProjectPosition] CHECK CONSTRAINT [FK_ProjectPosition_RoleGrade]
GO
ALTER TABLE [dbo].[ProjectPositionCompetence]  WITH CHECK ADD  CONSTRAINT [FK_ProjectPositionCompetence_EcfCompetence] FOREIGN KEY([CompetenceId])
REFERENCES [dbo].[EcfCompetence] ([Id])
GO
ALTER TABLE [dbo].[ProjectPositionCompetence] CHECK CONSTRAINT [FK_ProjectPositionCompetence_EcfCompetence]
GO
ALTER TABLE [dbo].[ProjectPositionCompetence]  WITH CHECK ADD  CONSTRAINT [FK_ProjectPositionCompetence_EcfCompetenceLevel] FOREIGN KEY([CompetenceLevelId])
REFERENCES [dbo].[EcfCompetenceLevel] ([Id])
GO
ALTER TABLE [dbo].[ProjectPositionCompetence] CHECK CONSTRAINT [FK_ProjectPositionCompetence_EcfCompetenceLevel]
GO
ALTER TABLE [dbo].[ProjectPositionCompetence]  WITH CHECK ADD  CONSTRAINT [FK_ProjectPositionCompetence_ProjectPosition] FOREIGN KEY([ProjectPositionId])
REFERENCES [dbo].[ProjectPosition] ([Id])
GO
ALTER TABLE [dbo].[ProjectPositionCompetence] CHECK CONSTRAINT [FK_ProjectPositionCompetence_ProjectPosition]
GO
ALTER TABLE [dbo].[ProjectPositionCompetence]  WITH CHECK ADD  CONSTRAINT [FK_ProjectPositionCompetence_RoleGrade] FOREIGN KEY([RoleGradeId])
REFERENCES [dbo].[RoleGrade] ([Id])
GO
ALTER TABLE [dbo].[ProjectPositionCompetence] CHECK CONSTRAINT [FK_ProjectPositionCompetence_RoleGrade]
GO
ALTER TABLE [dbo].[RoleGrade]  WITH CHECK ADD  CONSTRAINT [FK_CareerPath_EmployeeType] FOREIGN KEY([EmployeeTypeId])
REFERENCES [dbo].[EmployeeType] ([Id])
GO
ALTER TABLE [dbo].[RoleGrade] CHECK CONSTRAINT [FK_CareerPath_EmployeeType]
GO
ALTER TABLE [dbo].[RoleGrade]  WITH CHECK ADD  CONSTRAINT [FK_CareerPath_Organization] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organization] ([Id])
GO
ALTER TABLE [dbo].[RoleGrade] CHECK CONSTRAINT [FK_CareerPath_Organization]
GO
ALTER TABLE [dbo].[RoleGradeCompetence]  WITH CHECK ADD  CONSTRAINT [FK_CareerPathSkills_CareerPath] FOREIGN KEY([RoleGradeId])
REFERENCES [dbo].[RoleGrade] ([Id])
GO
ALTER TABLE [dbo].[RoleGradeCompetence] CHECK CONSTRAINT [FK_CareerPathSkills_CareerPath]
GO
ALTER TABLE [dbo].[RoleGradeCompetence]  WITH CHECK ADD  CONSTRAINT [FK_CareerPathSkills_EcfCompetence] FOREIGN KEY([CompetenceId])
REFERENCES [dbo].[EcfCompetence] ([Id])
GO
ALTER TABLE [dbo].[RoleGradeCompetence] CHECK CONSTRAINT [FK_CareerPathSkills_EcfCompetence]
GO
ALTER TABLE [dbo].[RoleGradeCompetence]  WITH CHECK ADD  CONSTRAINT [FK_CareerPathSkills_EcfCompetenceLevel] FOREIGN KEY([CompetenceLevelId])
REFERENCES [dbo].[EcfCompetenceLevel] ([Id])
GO
ALTER TABLE [dbo].[RoleGradeCompetence] CHECK CONSTRAINT [FK_CareerPathSkills_EcfCompetenceLevel]
GO
ALTER TABLE [dbo].[Team]  WITH CHECK ADD  CONSTRAINT [FK_Team_Organization] FOREIGN KEY([OrganizationId])
REFERENCES [dbo].[Organization] ([Id])
GO
ALTER TABLE [dbo].[Team] CHECK CONSTRAINT [FK_Team_Organization]
GO
ALTER TABLE [dbo].[Team]  WITH CHECK ADD  CONSTRAINT [FK_Team_Project] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[Team] CHECK CONSTRAINT [FK_Team_Project]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'BE enum: Add=1, Remove=2' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'360PendingEvaluator', @level2type=N'COLUMN',@level2name=N'Action'
GO
