using Evoflare.API.Models;
using Microsoft.EntityFrameworkCore;
using System.Linq;
using System;
using System.Globalization;


namespace Evoflare.API.Data
{{
    public static partial class DbInitializer
    {{
    
		public static bool Seed{0}(EvoflareDbContext context)
        {{
            if (context.{0}.Any()) return false;
            var trans = context.Database.BeginTransaction();
			try
            {
				context.Database.ExecuteSqlCommand("SET IDENTITY_INSERT [{1}] ON");
			}
            catch { } // TODO find better solution 

            var items = new[]
            {{
{2}
            }};
            context.{0}.AddRange(items);

            context.SaveChanges();

			try
            {
				context.Database.ExecuteSqlCommand("SET IDENTITY_INSERT [{1}] OFF");
				trans.Commit();
			}
            catch { } // TODO find better solution 
            
            return true;
        }}
    }}
}}
