using Evoflare.API.Models;
using Microsoft.EntityFrameworkCore;
using Microsoft.EntityFrameworkCore.Storage;
using System;
using System.Globalization;
using System.Linq;


namespace Evoflare.API.Data
{{
    public static partial class DbInitializer
    {{
    
		public static bool Seed{0}(EvoflareDbContext context)
        {{
            if (context.{0}.Any()) return false;
            IDbContextTransaction trans = null;
            
			if({3} && context.Database.IsSqlServer())
			{{
			    trans = context.Database.BeginTransaction();
                context.Database.ExecuteSqlCommand("SET IDENTITY_INSERT [{1}] ON");
			}}
            var items = new[]
            {{
{2}
            }};
            context.{0}.AddRange(items);

            context.SaveChanges();

			if({3} && context.Database.IsSqlServer())
            {{
				context.Database.ExecuteSqlCommand("SET IDENTITY_INSERT [{1}] OFF");
				trans.Commit();
			}}
            
            return true;
        }}
    }}
}}
